<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <li><%= link_to "Admin area", admin_users_path %></li>
      <li><%= link_to 'Sign out', signout_path %></li>
    </ul>
  </div>
</nav>
